<div class="row">
	<div class="col-md-4">
		<label>Label field <tip>Label field</tip></label>
		<input type="text" name="label_field" class="form-control" ng-model="panel.label_field" bs-typeahead bs-options="field for field in fields.list" />
	</div>
	<div class="col-md-4">
		<label>Join field <tip>Join field between the base collection and the graph collection</tip></label>
		<input type="text" name="join_field" class="form-control" ng-model="panel.join_field" bs-typeahead bs-options="field for field in fields.list" />
	</div>
</div>
<div class="row">
  <div class="col-md-4">
<!--     <label>Root node</label>
    <input type="text" name="root_node" ng-model="panel.root_node" ng-change="set_refresh(true)" /> -->
    <label>Root nodes <tip>Number of root nodes</tip></label>
    <input type="text" name="root_nodes" class="form-control" ng-model="panel.root_nodes" ng-change="set_refresh(true)" />
	</div>
	<div class="col-md-4">
	    <label>Sort <tip>Field to sort root nodes by</tip></label>
		<input type="text" name="root_nodes_sort" class="form-control"
			bs-typeahead bs-options="field for field in fields.list"
	    	ng-model="panel.root_nodes_sort" ng-change="set_refresh(true)" />
	</div>
	<div class="col-md-4">
	    <label>Order <tip>Sorting order required if sort field is specified</tip></label>
	    <select name="root_nodes_sort_order" class="form-control"
	    	ng-options='key as value for (key , value) in {"desc": "descending", "asc": "ascending"}'
	    	ng-model="panel.root_nodes_sort_order" ng-change="set_refresh(true)" />
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label>Graph collection <tip>The collection that contains the graph nodes</tip></label>
		<input type="text" name="graph_collection" class="form-control"
			bs-typeahead bs-options="collection for collection in dashboard.current.solr.core_list"
			ng-model="panel.graph_collection" />
	</div>
  <div class="col-md-4">
	    <label>From field</label>
		<input type="text" name="from_field" class="form-control"
			bs-typeahead bs-options="field for field in fields.aux_list"
			ng-model="panel.from_field" ng-change="set_refresh(true)" />
  </div>
  <div class="col-md-4">
    <label>To field</label>
	<input type="text" name="to_field" class="form-control"
		bs-typeahead bs-options="field for field in fields.aux_list"
		ng-model="panel.to_field" ng-change="set_refresh(true)" />
  </div>
<!--     <label>Custom expression <tip>Graph expression</tip></label>
    <textarea class="form-control input-xxlarge" style="height:100px;" ng-model="panel.expression" ng-change="set_refresh(true)" /> -->
</div>