.filtering-container {
    margin-top: 3px;
}

.filter-panel-filter {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 220px;
    padding: 5px 5px 0px 5px;
    border: #555 1px solid;
    margin: 0px 5px 5px 0px;
}

.filter-panel-filter ul {
    margin-bottom: 3px;
}

.filter-values {
    word-wrap: break-word;
    overflow-x: hidden;
}

.filter-must {
    border-bottom: #7EB26D 3px solid;
}

.filter-mustNot {
    border-bottom: #E24D42 3px solid;
}

.filter-deselected {
    opacity: 0.5;
}

.filter-either {
    border-bottom: #EF843C 3px solid;
}

.filter-action {
    float: right;
    margin-bottom: 0px !important;
    margin-left: 3px;
}

.filter-mandate {
    text-decoration: underline;
    cursor: pointer;
}

.filter-apply {
    float: right;
    margin-bottom: 5px;
}