<div>
  <div class="row">
    <div class="col-md-1">
      <label>Length</label>
      <input type="number" style="width:80%" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
    <div class="col-md-3">
      <label>Field</label>
      <input type="text" bs-typeahead bs-options="field for field in fields.list" style="width:80%" ng-change="set_refresh(true)" ng-model='panel.field'></select>
    </div>
    <div class="col-md-3">
      <label>Query Mode</label>
      <select class="form-control" style="width:80%" ng-change="set_refresh(true)" ng-model='panel.mode' ng-options="f for f in ['terms only','AND', 'OR']"></select>
    </div>
    <div class="col-md-4">
      <label>Exclude Terms(s) (comma seperated)</label>
      <input array-join type="text" class="form-control" style="width:90%" ng-change="set_refresh(true)" ng-model='panel.exclude'></input>
    </div>
    <div class="col-md-1">
      <label><input type="checkbox" ng-model="panel.rest" ng-checked="panel.rest" ng-change="set_refresh(true)"> Rest </label>
    </div>
  </div>
</div>
