<div class="container-fluid" style="margin-top:10px; width:98%">

    <!-- Rows -->
    <div class="row kibana-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.current.rows"
         ng-style="row_style(row)">
        <div class="col-md-12" ng-show="row.collapse">
            <div class="row" style="padding:0px;margin:0px;position:relative;">
                <div class="row-close" data-placement="bottom">
                    <span bs-modal="modal" data-container="body" data-template-url="app/partials/roweditor.html" class="row-button pointer">
                        <a href="" title="Configure Row" alt="Configure Row" bs-tooltip="'Configure row'" data-placement="right" ng-show="row.editable" class="nolink small icon-cog pointer"></a>
                    </span>
                    <span class="row-button" ng-click="toggle_row(row)" ng-show="row.collapsable">
                        <a alt="Expand row" bs-tooltip="'Expand row'" data-placement="right" ng-show="row.editable" class="nolink small icon-expand pointer" ></a>
                    </span>
                    <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-hide="row.collapse">
            <div>
                <div class="row-open">
                    <span ng-show="row.collapsable">
                        <a alt="Expand row" href="" bs-tooltip="'Hide row'" data-placement="right"  class="nolink small icon-collapse-top" ng-click="toggle_row(row)"></a>
                        <br>
                    </span>
                    <span bs-modal="modal" data-container="body" data-template-url="app/partials/roweditor.html" ng-show="row.editable">
                        <a href="" title="Configure Row" alt="Configure Row"  bs-tooltip="'Configure row'" data-placement="right" class="nolink small icon-cog pointer"></a>
                        <br>
                    </span>
                    <span ng-show="rowSpan(row) == 12 && row.editable">
                        <a href="" alt='Row Full' bs-tooltip="'Row full. Create a new row to add more panels'" data-placement="right" class="nolink small icon-trello"></a> 
                        <br>
                    </span>
                    <span ng-show="rowSpan(row) > 12">
                        <i bs-tooltip="'Total span > 12. This row may format poorly'" data-placement="right"
                            class="icon-warning-sign text-warning"></i>
                        <br>
                    </span>
                </div>
                <div class="row" style="padding-top:0px">
                    <!-- Panels -->
                    <div ng-repeat="(name, panel) in row.panels|filter:isPanel" ng-hide="panel.span == 0 || panel.hide"
                        class="col-md-{{panel.span}} nospace" style="min-height:{{row.height}};"
                        data-drop="true" ng-model="row.panels" data-jqyoui-options
                        jqyoui-droppable="{index:$index,mutate:false,onDrop:'panelMoveDrop',onOver:'panelMoveOver(true)',onOut:'panelMoveOut'}">
                        <!-- Error Panel -->
                        <div class="alert alert-danger panel-error" ng-hide="!panel.error">
                            <a class="close" ng-click="panel.error=false">&times;</a>
                            <i class="icon-exclamation-sign"></i> <strong>Oops!</strong> {{panel.error}}
                        </div>
                        <!-- Content Panel -->
                        <div ng-class="{'dragInProgress':dashboard.panelDragging}">
                            <kibana-panel type="panel.type" ng-cloak></kibana-panel>
                        </div>
                    </div>

                    <div ng-hide="(12-rowSpan(row)) < 1 || !dashboard.current.panel_hints"
                        class="panel col-md-{{(12-rowSpan(row))}}" ng-class="{'dragInProgress':dashboard.panelDragging}"
                        style="height:{{row.height}};" data-drop="true" ng-model="row.panels" data-jqyoui-options
                        jqyoui-droppable="{index:row.panels.length,onDrop:'panelMoveDrop({{(12-rowSpan(row))}})',onOver:'panelMoveOver(false)',onOut:'panelMoveOut'}">
                        <span bs-modal="modal" data-container="body" data-template-url="app/partials/roweditor.html" ng-show="row.editable && !dashboard.panelDragging">
                            <i ng-hide="rowSpan(row) == 0" class="pointer icon-plus-sign" ng-click="rowEditorTabs.activePane = 1"
                                bs-tooltip="'Add a panel to this row'" data-placement="right"></i>
                            <span ng-click="rowEditorTabs.activePane = 1" style="margin-top: 8px; margin-left: 3px" ng-show="rowSpan(row) == 0"
                                class="btn btn-default btn-xs">Add panel to empty row</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show='dashboard.current.editable'>
        <div class="col-md-12">
            <span style="margin-left: 0px;" class="pointer btn btn-default btn-xs" bs-modal="modal"
                data-container="body" data-template-url="app/partials/dasheditor.html">
                <span ng-click="editor.index = 1"><i class="icon-plus-sign"></i> ADD A ROW</span>
            </span>
        </div>
    </div>
</div>
