<!-- 
<div class="row">
  <style>
    .querySelect .query {
      margin-right: 5px;
    }
    .querySelect .selected {
      border: 3px solid;
    }
    .querySelect .unselected {
      border: 0px solid;
    }
  </style>
  <div class="col-md-2" style="margin-left:0px">
    <label>Queries</label>
    <select class="input-small" ng-change="set_refresh(true);" ng-model="panel.queries.mode" ng-options="f for f in ['all','pinned','unpinned','selected']"></select>
  </div>
  <div class="col-md-9 querySelect" ng-show="panel.queries.mode == 'selected'">
    <label>Selected Queries</label>
    <span ng-style="{'border-color': querySrv.list[id].color}" ng-class="{selected:_.contains(panel.queries.ids,id),unselected:!_.contains(panel.queries.ids,id)}" ng-repeat="id in querySrv.ids" ng-click="panel.queries.ids = _.toggleInOut(panel.queries.ids,id);set_refresh(true);" class="query pointer badge">
      <i class="icon-circle" ng-style="{color: querySrv.list[id].color}"></i>
      <span> {{querySrv.list[id].alias || querySrv.list[id].query}}</span>
    </span>
  </div>
</div>
-->
<div class="row">
  <div>
      <div class="col-md-8" >
        <div class="checkbox">
          <label><input type="checkbox" ng-model="panel.show_queries" ng-checked="panel.show_queries" style="float:left;margin-right: 10px;">
            Display query when Inspect</label>
        </div>
      </div>
  </div>
  <div class="col-md-12" style="margin-left:0px">
    <label>Panel Query</label>
    <pre>{{panel.queries.query}}</pre>
  </div>
  <div class="col-md-12" style="margin-left:0px">
    <label>Add Custom Queries</label>
    <input class="form-control input-xxlarge" type="text" placeholder="&fq=field1:value1" ng-model="panel.queries.custom" ng-change="set_refresh(true)">
  </div>
</div>