<div class="modal" tabindex="0" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="editor-title modal-header">New Dashboard Settings</div>
            <div class="modal-body">
        <div class="checkbox">
            <label><input type="checkbox" ng-model="new.USE_FUSION" style="vertical-align: top;">Use Fusion?</label>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label>Solr Server / Fusion Query Pipeline
                    <tip>Specify a Solr addresss or Fusion Query Pipeline, ending with /</tip>
                </label>
                <input type="text" name="solrServer" ng-model="new.server" style="width: 100%;"
                       class="form-control" placeholder="e.g. /api/apollo/query-pipelines/_system/collections/" ng-pattern="/\/$/" required>
            </div>
            <div class="col-md-5">
                <label>Collection Name</label>
                <input type="text" class="form-control input-large" name="solrCollection" ng-model="new.core_name"
                       placeholder="e.g. logs" bs-typeahead bs-options="field for field in dashboard.current.solr.core_list" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" ng-show="$scope.type == 'default-ts'">
                <label>Time Field</label>
                <input type="text" class="form-control input-large" ng-model="new.time_field" placeholder="timestamp">
            </div>
        </div>
        <div class="row">
            <!-- Validation error messages -->
            <div class="col-md-12">
                <ul class="list-group">
                    <li ng-show="solrForm.solrServer.$error.pattern" class="list-group-item list-group-item-danger">
                        Solr Server needs to end with a trailing forward slash (/).</span></li>
                    <li ng-show="solrForm.solrServer.$error.required" class="list-group-item list-group-item-danger">
                        Please input Solr Server address.</span></li>
                    <li ng-show="solrForm.solrCollection.$error.required" class="list-group-item list-group-item-danger">
                        Please input Collection name.</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="newDashboardCreateButton" type="submit" class="btn btn-success" ng-click="create_new($scope.type);$hide();">Create</button>
        <button type="button" class="btn btn-danger" ng-click="$hide();reset_panel();close_edit()">Close</button>
    </div>
    </div>
</div>