<div ng-controller='timepicker' ng-init="init()">
  <div ng-switch="panel.mode" ng-show="filterSrv.idsByType('time').length > 0">
    <!-- Absolute  mode -->
    <div ng-switch-when="absolute">
      <form class="form-inline">
        <div class="form-group">
          <label for="from_date">From</label>
          <input type="text" id="from_date" class="form-control input-small" ng-model="timepicker.from.date" 
            data-date-type="string" data-date-format="MM/dd/yyyy" data-autoclose="true"
            bs-datepicker>
          <input type="text" data-arrow-behavior="picker" data-length="1"
            data-minute-step="1" data-second-step="1" class="form-control input-smaller"
            data-time-type="string" data-time-format="HH:mm:ss" data-show-seconds="true" 
            ng-model="timepicker.from.time" bs-timepicker>
        </div>
        <div class="form-group">
          <label for="to_date">To</label>
          <input type="text" id="to_date" class="form-control input-small" ng-model="timepicker.to.date"
            data-date-type="string" data-date-format="MM/dd/yyyy" data-autoclose="true"
            bs-datepicker>
          <input type="text" data-arrow-behavior="picker" data-length="1"
            data-minute-step="1" data-second-step="1" class="form-control input-smaller"
            data-time-type="string" data-time-format="HH:mm:ss" data-show-seconds="true"
            ng-model="timepicker.to.time" bs-timepicker>
        </div>
        <button class="btn btn-default" ng-click="time_apply()"><i class="icon-ok"></i></button>
      </form>
    </div>

    <!-- Since mode -->
    <div ng-switch-when="since">
      <div class="timepicker-block">
        <form>
          <input type="text" class="form-control" ng-model="timepicker.from.date" data-date-format="MM/dd/yyyy" bs-datepicker>
          <input type="text" data-arrow-behavior="picker" data-length="1"
            data-minute-step="1" data-second-step="1" class="form-control input-smaller"
            data-time-type="string" data-time-format="HH:mm:ss" data-show-seconds="true" 
            ng-model="timepicker.from.time" bs-timepicker>
        </form>
      </div>
      <div class="timepicker-block" style="margin-left:5px">
        <form>
          <button class="btn btn-default" ng-click="time_apply()"><i class="icon-ok"></i></button>
        </form>
      </div>
    </div>

    <!-- Relative mode -->
    <div ng-switch-when="relative">
      <div class="timepicker-block">
        <form class="input-group">
          <span class="input-group-button">
            <button class="btn btn-default" ng-repeat='timespan in panel.time_options' ng-class="{'btn-success': (panel.timespan == timespan)}" ng-click="set_timespan(timespan)">{{timespan}}</button>
          </span>
          <!--<select ng-model="panel.sort[0]" ng-options="f for f in fields"></select>-->
        </form>
      </div>
    </div>
  </div>
  <div class="row" ng-show="filterSrv.idsByType('time').length < 1">
    <div>
      <div class="col-md-11">
        <h4>No time filter present</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 small" ng-show="filterSrv.idsByType('time').length > 0">
      <a class="link" ng-click="set_mode('relative')" ng-class="{'strong': (panel.mode == 'relative')}">Relative</a> |
      <a class="link" ng-click="set_mode('absolute')" ng-class="{'strong': (panel.mode == 'absolute')}">Absolute</a> |
      <a class="link" ng-click="set_mode('since')"    ng-class="{'strong': (panel.mode == 'since')}">Since</a>
      <span ng-hide="panel.mode == 'absolute' || panel.mode == 'none'"> |
        <input type="checkbox" ng-model="panel.refresh.enable" ng-change='refresh();'> Auto-refresh
        <span ng-class="{'ng-cloak': !panel.refresh.enable}">
          every <a data-title="<small>Auto-refresh Settings</small>" data-placement="bottom" bs-popover 
            data-template-url="app/panels/timepicker/refreshctrl.html">{{panel.refresh.interval}}s</a>.
        </span>
      </span>
    </div>
    <div class="col-md-12 small" ng-show="filterSrv.idsByType('time').length < 1">
      <a class='btn btn-default btn-xs' ng-click="time_apply()">Create a time filter</a>
    </div>
  </div>
</div>