<div ng-controller='facet' ng-init='init()'>
        <h5>{{panel.header_title}}</h5>
        <div id="facetAccordion" class="panel-group" role="tablist" bs-collapse>
            <div class="panel panel-default" ng-repeat="field in panel.fields">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle class="accordion-toggle" href="">
                            {{facet_label(field)}} <i class="icon-chevron-down"></i>
                        </a>
                    </h4>
                </div>
                <div class="accordion-body collapse" bs-collapse-target>
                    <div class="accordion-inner">
                        <div ng-repeat="item in facet_data[field]">
                            <div ng-show="facet_data[field][$index]['count']>0 && $index < panel.facet_limit">
                                <a href="" ng-click="set_facet_filter(field,facet_data[field][$index]['value']);" class="tab">{{facet_data[field][$index]['value']}} ({{facet_data[field][$index]['count']}})</a>
                                <a ng-show="filter_close(field)" ng-click="delete_filter('terms',field)" style="float:right;"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
