.table-doc-table {
    margin-left: 0px !important;
    overflow-y: auto;
    overflow-x: scroll;
}
._even {
    display: none;
}
#myAccordion {
    width: 90%
}
.icon-chevron-down {
    float: right;
    text-decoration: none;
}
.icon-chevron-up {
    float: right;
    text-decoration: none;
}
.highlight-code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    border-radius: 3px;
}
.tab {
    margin-left: 10px;
}
.bold {
    font-weight: bold;
    background: #B8B8B8;
}