<div class="row">
  <div class="col-md-3">
    <label>Field for displaying values <tip>Specify a field to show values on the bar chart</tip></label>
    <input type="text" class="form-control input-small" bs-typeahead bs-options="field for field in fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-2">
    <label>Number of Rows <tip>Specify a number of rows to retrieve the result set.</tip></label>
    <input class="form-control input-small" type="number" ng-model="panel.max_rows" ng-change="set_refresh(true)">
  </div>
</div>