<div class="row">
    <div class="col-md-4">
        <label>Field
            <tip>This is the facet field.</tip>
        </label>
        <input type="text" class="form-control input-small" bs-typeahead bs-options="field for field in fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
    </div>
    <div class="col-md-4">
        <label>Number of Bars
            <tip>Specify a maximum number of terms/Bars to display.</tip>
        </label>
        <input class="form-control input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
</div>