<div ng-controller="dashLoader">
    <div class="row">
        <div class="col-md-6" style="font-weight:bold;">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="dashboard.current.loader.dropdown_collections"
                    ng-checked="dashboard.current.loader.dropdown_collections">
                    Show Collections Picker</label>
            </div>
        </div>
    </div>
    <h5>Allow saving to</h5>
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox">
                <label><input type="checkbox"
                    ng-model="dashboard.current.loader.save_local"
                    ng-checked="dashboard.current.loader.save_local">File</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label><input type="checkbox"
                    ng-model="dashboard.current.loader.save_default"
                    ng-checked="dashboard.current.loader.save_default">Browser</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="dashboard.current.loader.save_gist"
                    ng-checked="dashboard.current.loader.save_gist">Gist
                    <tip>Requires your domain to be OAUTH registered with Github</tip>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="dashboard.current.loader.copy_to_clipboard"
                    ng-checked="dashboard.current.loader.copy_to_clipboard">Copy to clipboard</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label><input type="checkbox"
                    ng-model="dashboard.current.loader.save_elasticsearch"
                    ng-checked="dashboard.current.loader.save_elasticsearch">Solr</label>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Allow loading from</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="checkbox"
                    ng-model="dashboard.current.loader.load_local"
                    ng-checked="dashboard.current.loader.load_local">Local file</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label><input type="checkbox"
                    ng-model="dashboard.current.loader.load_gist"
                    ng-checked="dashboard.current.loader.load_gist">Gist</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label><input type="checkbox"
                    ng-model="dashboard.current.loader.load_elasticsearch"
                    ng-checked="dashboard.current.loader.load_elasticsearch">Solr</label>
            </div>
        </div>
        <div class="col-md-3" ng-show="dashboard.current.loader.load_elasticsearch">
            <label>Solr list size</label>
            <tip>The maximum number of dashboards to show in the loading list for Solr stored dashboards under Load menu.</tip>
            <input class="form-control input-mini" type="number"
                ng-model="dashboard.current.loader.load_elasticsearch_size">
        </div>
    </div>
</div>