<div class="row">
  <div class="col-md-3">
    <label>Title Field <tip placement="right">Specify a field to show as the document's title.</tip></label>
    <input type="text" class="form-control input-medium" bs-typeahead bs-options="field for field in fields.list" ng-model="panel.titleField" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <label>Content Field <tip>Specify a field to show as the document's content.</tip></label>
    <input type="text" class="form-control input-medium" bs-typeahead bs-options="field for field in fields.list" ng-model="panel.contentField" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <label>Unique Key Field <tip>Specify a unique key field from Solr schema.</tip></label>
    <input type="text" class="form-control input-medium" bs-typeahead bs-options="field for field in fields.list" ng-model="panel.uniqueKey" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <label>Max Number of Doc <tip>Specify a maximum number of documents to retrieve from Solr.</tip></label>
    <input type="number" class="form-control input-small" ng-model="panel.max_rows" ng-change="set_refresh(true)">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label>Frag Size <tip placement="right">Specify how many characters to show for the highlighting. Input zero (unlimited) to show the whole field's content.</tip></label>
    <input type="number" class="form-control input-small" placeholder="0" ng-model="panel.fragsize" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <label>Simple Pre <tip>Specify the opening HTML markup syntax for highlighting the matched terms.</tip></label>
    <input type="text" class="form-control input-small" placeholder="<mark>" ng-model="panel.simplePre" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <label>Simple Post <tip>Specify the closing HTML markup syntax for highlighting the matched terms.</tip></label>
    <input type="text" class="form-control input-small" placeholder="</mark>" ng-model="panel.simplePost" ng-change="set_refresh(true)">
  </div>
</div>