<div class="row">
  <div class="col-md-3">
    <form>
      <label>Field <tip data-placement="right">2 letter country or state code</tip></label>
      <input bs-typeahead bs-options="field for field in fields.list" type="text" class="form-control input-small" ng-model="panel.field" ng-change="set_refresh(true)">
    </form>
  </div>
  <div class="col-md-2">
    <label>Max <tip>Maximum countries to plot</tip></label>
    <input class="form-control input-mini" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-1"><label>Map</label>
    <select ng-change="$emit('render')" class="form-control input-small" ng-model="panel.map" ng-options="f for f in ['world','world-antarctica','europe','usa','japan']"></select>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label>Mode <tip data-placement="right">For min, mean, max, and sum modes. Field type has to be numeric.</tip></label>
    <select ng-change="set_refresh(true)" class="form-control input-small" ng-model="panel.mode" ng-options="f for f in ['count','min','mean','max','sum']"></select>
  </div>
  <div class="col-md-3" ng-show="panel.mode != 'count'">
    <label>Stats Field <tip>This is the field that contains numerical values.</tip></label>
    <input type="text" class="form-control input-small" bs-typeahead bs-options="field for field in fields.list" ng-model="panel.stats_field" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <label>Decimal Points <tip>The number of digits after the decimal point.</tip></label>
    <select class="form-control input-mini" ng-model="panel.decimal_points" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9]"></select>
  </div>
</div>
<div class="row">
  <div class="col-md-4" ng-show="panel.map == 'world'">
    <div class="checkbox">
      <label><input ng-disabled="panel.map != 'world'" ng-model="panel.useNames" type="checkbox" ng-change="set_refresh(true)"></inpt>
          Country Names
        <tip> Coutry Names in the World Map would be detected, if checked</tip>
      </label>
  </div>
  </div>
</div>
