<div class="row">
  <div class="col-md-6">
    <h6>Facet Pivot String <tip>Separated by commas</tip></h6>
    <input array-join bs-typeahead bs-options="field for field in fields.list" style="width:500px;" type="text" placeholder="field1,field2" class="form-control input-small" ng-model="panel.facet_pivot_strings" ng-change="set_refresh(true)">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h6>Facet Limit</h6>
    <input class="form-control input-medium" ng-model="panel.facet_limit" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <h6>Strength</h6>
    <input type="number" class="form-control input-medium" ng-model="panel.strength" ng-change="set_refresh(true)">
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h6>Node Size Weight</h6>
    <input type="number" class="form-control input-medium" ng-model="panel.node_size_weight" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <h6>Link Width Weight</h6>
    <input type="number" class="form-control input-medium" ng-model="panel.link_width_weight" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <h6>Link Strength Weight</h6>
    <input type="number" class="form-control input-medium" ng-model="panel.link_strength_weight" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <h6>Link Distance Weight</h6>
    <input type="number" class="form-control input-medium" ng-model="panel.link_distance_weight" ng-change="set_refresh(true)">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h6>Spheres</h6>
    <input type="checkbox" class="form-control input-medium" ng-model="panel.spheres" ng-change="set_refresh(true)">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h6>Mute Category 1</h6>
    <input type="checkbox" class="form-control input-medium" ng-model="panel.mute_category_1" ng-change="set_refresh(true)">
  </div>
  <div class="col-md-3">
    <h6>Mute Category 2</h6>
    <input type="checkbox" class="form-control input-medium" ng-model="panel.mute_category_2" ng-change="set_refresh(true)">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h6>Colors</h6>
    <input type="text" class="form-control input-medium" style="width:500px;" ng-model="panel.colors" ng-change="set_refresh(true)">
  </div>
</div>
