<div class="row">
  <div class="col-md-3">
    <label>Range Field <tip>Must be a numeric field</tip></label>
      <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead bs-options="field for field in fields.list" type="text" class="form-control input-small" ng-model="panel.range_field">
  </div>
</div>
<h5>Chart Settings</h5>
<div class="row" style="text-align:center;margin-bottom:10px;">
  <div class="col-md-1"> <label><input type="checkbox" ng-model="panel.bars" ng-checked="panel.bars">Bars</label></div>
  <div class="col-md-1"> <label><input type="checkbox" ng-model="panel.lines" ng-checked="panel.lines">Lines</label></div>
  <div class="col-md-1"> <label><input type="checkbox" ng-model="panel.points" ng-checked="panel.points">Points</label></div>
  <div class="col-md-1"> <label><input type="checkbox" ng-model="panel.legend" ng-checked="panel.legend">Legend</label></div>
  <div class="col-md-1"> <label><input type="checkbox" ng-model="panel['x-axis']" ng-checked="panel['x-axis']">xAxis</label></div>
  <div class="col-md-1"> <label><input type="checkbox" ng-model="panel['y-axis']" ng-checked="panel['y-axis']">yAxis</label></div>
</div>

<div class="row" style="text-align:center;">
  <div class="col-md-2" ng-show="panel.lines" style="width:65px;">
    <label>Line Fill</label>
    <select class="form-control input-mini" ng-model="panel.fill" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
  </div>
  <div class="col-md-2" ng-show="panel.lines" style="width:65px;">
    <label>Line Width</label>
    <select class="form-control input-mini" ng-model="panel.linewidth" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
  </div>
  <div class="col-md-2" ng-show="panel.lines" style="width:60px;">
    <label>Smooth <tip>Smooth the lines by removing zero values.</tip></label>
    <input type="checkbox" ng-model="panel.lines_smooth" ng-checked="panel.lines_smooth">
  </div>
</div>

<div class="row" style="text-align:center;margin-bottom:10px;margin-left:-15px;">
  <div class="col-md-2" style="margin-left:0;"><label><input type="checkbox" ng-model="panel.interactive" ng-checked="panel.interactive">Selectable</label></div>
  <div class="col-md-2" style="margin-left:0;"><label><input type="checkbox" ng-model="panel.zoomlinks" ng-checked="panel.zoomlinks" />Zoom Links</label></div>
  <div class="col-md-2" style="margin-left:0;"><label><input type="checkbox" ng-model="panel.options" ng-checked="panel.options" />View Options</label></div>
</div>

<div class="row">

  <div class="col-md-3">
    <label>Minimum</label>
      <input ng-change="set_refresh(true)" type="number" class="form-control input-small" ng-model="panel.minimum">
  </div>
  <div class="col-md-3">
    <label>Maximum</label>
      <input ng-change="set_refresh(true)" type="number" class="form-control input-small" ng-model="panel.maximum">
  </div>
  <div class="col-md-3">
    <label>Auto-interval <tip>For float value, do not use auto-interval and specify the interval manually.</tip></label>
    <input type="checkbox" ng-model="panel.auto_int" ng-checked="panel.auto_int" />
  </div>
  <div class="col-md-3" ng-show='panel.auto_int'>
    <label>Precision <tip>Shoot for this many data points, rounding to sane intervals</tip></label>
    <input type="number" class='form-control input-mini' ng-model="panel.resolution" ng-change='set_refresh(true)'/>
  </div>
</div>
<div class="row">
  <div class="col-md-3" ng-hide='panel.auto_int'>
    <label>Interval <tip>Enter numeric interval</tip></label>
    <input type="text" class='form-control input-mini' ng-model="panel.interval" ng-change='set_refresh(true)'/>
  </div>
  <div class="col-md-3">
    <label>Unit for legend</label>
      <input ng-change="set_refresh(true)" type="text" class="form-control input-small" ng-model="panel.unit">
  </div>
</div>
 
<h5>Tooltip Settings</h5>
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-4">
      <label>Stacked Values <tip>How should the values in stacked charts to be calculated?</tip></label>
      <select class="form-control input-medium" ng-model="panel.tooltip.value_type" ng-options="f for f in ['cumulative','individual']"></select>
    </div>
    <div class="col-md-3">
      <label>Display Query <tip>If an alias is set, it will be shown in the tooltip. If not, should it show the query?</tip></label>
      <input type="checkbox" ng-model="panel.tooltip.query_as_alias" />
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5>Real-time (Auto-refresh)</h5>  
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label><input type="checkbox" ng-model="panel.refresh.enable" ng-checked="panel.refresh.enable">Enable</label>
  </div>
  <div class="col-md-4">
    <label>Interval (seconds) <tip>The minimum value is 2.</tip></label>
    <input type="number" min="2" class="form-control input-mini" ng-model="panel.refresh.interval">
  </div>
</div>