<div ng-controller='significantTerms' ng-init="init()">

  <!-- START Table -->
  <table ng-style="panel.style" class="table significantTermsTableSection table-striped table-condensed">
    <thead>
      <th>Term</th>
      <th>Score</th>
      <th>Foreground</th>
      <th>Background</th>
      <th>Action</th>
    </thead>
    <tbody ng-style="{height: row.height}">
    <tr ng-repeat="term in data" ng-show="showMeta(term)">
      <td>{{term.label}}</td>
      <td>{{term.data[0][1]}}</td>
      <td>{{term.data[0][2]}}</td>
      <td>{{term.data[0][3]}}</td>
      <td>
        <span ng-hide="term.meta == 'other'">
          <i class='icon-search pointer' ng-click="build_search(term)"></i>
          <i class='icon-ban-circle pointer' ng-click="build_search(term,true)"></i>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- END Table -->
  <!-- Dummy div for testing color name -->
  <div id="colorTest"></div>
</div>