<form>
  <div class="row">
    <div class="col-md-4">
      <label for="row_title">Title</label>
      <input type="text" id="row_title" class="form-control" ng-model='row.title'></input>
    </div>
    <div class="col-md-4">
      <label for="row_height" >Height</label>
      <input type="text" id="row_height" class="form-control" ng-model='row.height'></input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="checkbox">
        <label for="row_editable"><input type="checkbox" id="row_editable" ng-model="row.editable"
          ng-checked="row.editable" />Editable</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="checkbox">
        <label for="row_collapsable"><input type="checkbox" id="row_collapsable"
          ng-model="row.collapsable" ng-checked="row.collapsable" /> Collapsable</label>
      </div>
    </div>
  </div>
</form>