<div class="row">
    <div class="col-md-4">
        <label>Algorithm
            <tip>This is the result clustering algorithm used. 
                If not present, the first declared algorithm configured in Solr will be used.</tip>
        </label>
        <select class="form-control input-medium" ng-model="panel.algorithm" 
            ng-options="c as v for (c, v) in {'lingo': 'Lingo', 'stc': 'STC', 'kmeans': 'k-Means'}"
            ng-change="set_refresh(true)"></select>
    </div>
    <div class="col-md-4">
        <label>Number of Rows
            <tip>This is the result set size</tip>
        </label>
        <input type="number" class='form-control input-small' ng-model="panel.rows" ng-change='set_refresh(true)'/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Title field
            <tip>The field that should be mapped to the logical document’s title</tip>
        </label>
        <input ng-change="set_refresh(true)" placeholder="Start typing" 
            bs-typeahead bs-options="field for field in fields.list" type="text" class="form-control input-medium" ng-model="panel.title_field">
    </div>
    <div class="col-md-4">
        <label>Content field*
            <tip>The field that should be mapped to the logical document’s main content</tip>
        </label>
        <input ng-change="set_refresh(true)" placeholder="Start typing"
            bs-typeahead bs-options="field for field in fields.list" type="text" class="form-control input-medium" ng-model="panel.content_field">
    </div>
    <div class="col-md-4">
        <label>URL field
            <tip>The field that should be mapped to the logical document’s content URL</tip>
        </label>
        <input ng-change="set_refresh(true)" placeholder="Start typing"
            bs-typeahead bs-options="field for field in fields.list" type="text" class="form-control input-medium" ng-model="panel.url_field">
    </div>
</div>