<div class="row">
    <div class="col-md-4">
        <label>Field
            <tip>This is the facet field.</tip>
        </label>
        <input type="text" class="form-control input-small" bs-typeahead bs-options="field for field in fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
    </div>
    <div class="col-md-4">
        <label>Number of tags
            <tip>Specify a maximum number of terms to display (Top N).</tip>
        </label>
        <input class="form-control input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Text Alignment</label>
        <select class="form-control input-large" ng-model="panel.alignment" ng-options="f for f in ['horizontal','vertical(+90)','vertical(-90)','vertical and horizontal','Random']"></select>
    </div>
    <div class="col-md-4">
        <label>Font Scale
            <tip>Increase the size of the word font</tip>
        </label>
        <select class="form-control input-mini" ng-model="panel.fontScale" ng-options="f for f in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"></select>
    </div>
    <div class="col-md-4">
        <label>Stop Words
            <tip>Stop Words will be ignored, if checked.</tip>
        </label>
        <input class="form-control input-small" ng-model="panel.ignoreStopWords" type="checkbox" ng-change="set_refresh(true)"></input>
    </div>
</div>